<!-- Header -->
<header>
  <div class="container">
    <nav class="nav">
      <!-- Mobile menu -->
      <div class="mob-menu">
        <a class="header-logo" href=""
          ><span>SIMPLY</span> CHOCOLATE
          <svg class="icon-logo" width="21" height="21">
            <use href="./img/icons.svg#icon-chocolate"></use>
          </svg>
        </a>
        <button class="nav-mob-btn" type="button">
          <svg class="mob-nav-open" width="21" height="14">
            <use href="./img/icons.svg#mob-menu-open"></use>
          </svg>
        </button>
      </div>

      <!-- Other Menu -->
      <div class="other-menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">How it’s made?</a></li>
          <li><a href="">Our products</a></li>
          <li><a href="">Top sellers</a></li>
          <li><a href="">Chocolate is loved</a></li>
        </ul>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
