<!-- Hero -->
<section class="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="visually-hidden">SIMPLY CHOCOLATE</h1>
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-btn">
        <button class="btn-buy" type="button">Buy now</button>
        <button class="btn-made" type="button">How it’s made</button>
      </div>
      <div class="hero-scroll">
        <p class="hero-scroll-text">scroll down</p>
        <button class="btn-scroll" type="button">
          <svg class="btn-croll-icon" width="16" height="16">
            <use href="../img/icons.svg#scrool"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
