/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: 'Montserrat';
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 12px 28px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #111111;
  background-color: #fafafa;
}
.active-color {
  color: #fd9222;
}
